;
; Este archivo es para unificar el estilo del codigo utilizado 
; por distintos editores de texto e IDEs.
;
; Creado por: Luis Egui (luisegui@ucm.es)

root = true

; All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailling_whitespace = true

; PHP files
[*.php]
indent_size = 4
indent_style = space

; Web files
[*.{html, htm, css}]
indent_size = 2

; YAML files
[*.{yml, yaml}]
indent_size = 2

; Markdown files
[*.md]
trim_trailling_whitespace = false

; SQL files
[*.sql]
ident_size = 4
ident_size = space